body{background-image:url('bg.png');}

#topbar{background-color:white;font-weight:normal;text-align:center;border-bottom:1px solid rgba(0,0,0,0.2);}
  #topbar.topbarmenuitem{margin-right:5px;margin-left:5px;float:right;}
#footer{background-color:white;position:fixed;bottom:0%;text-align:center;width:20%;margin-left:40%;}

#smallnamebox{margin:0 auto;font-size:45px;color:black;width:5em;font-weight:bold;text-align:center;margin-top:8%;cursor:pointer;}
#smallbox{width:20.5em;border:6px solid black;border-top:15px solid black;border-radius:4px;margin:0 auto;background-color:white;text-align:center;}


.title{font-size:20px;padding:0px;margin:0px;width:16em; text-align:center;}
.lineundertitle{width:10em;margin:0 auto;border:1px solid black;}

#formbox{margin-top:1em;text-align:center;margin-bottom:1em;}


.bgblack{background-color:black;}
	
table.nospacing{border-spacing:0px;width:18.5em;overflow:auto;} 

a:link{color:black;text-decoration:none;}
a:visited{color:black;text-decoration:none;}
a:hover{color:black;text-decoration:underline;}
	
.leftround{border-top-left-radius:7px;border-bottom-left-radius:7px;}
.rightround{border-top-right-radius:7px;border-bottom-right-radius:7px;}

.button{cursor:pointer;background-color:rgba(0,0,255,0.9);margin-top:1em;color:rgb(255,255,0);font-weight: bold;padding:5px;width:6em;box-shadow:2px 2px 2px gray;border:0;margin-right: 5px;margin-left:5px;font-size:0.85em;}
#topbarregisterbutton{position:absolute;right:2em;margin-top:5px;background-color:red;color:black;}

#messagebar{display:none;width:100%;margin:0 auto;height:1.2em;background-image: url('bg.png');border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;border:0;border-top:3px solid red;color:white;font-weight: bold;box-shadow:3px 3px 3px gray;}
#messagebarpoint{height:0;width:0;border-left:15px solid transparent;border-right:15px solid transparent;border-bottom: 15px solid red;margin:0 auto;margin-top:-15px;}
#messagebarwrap{position: absolute;width:17em;left:50%;margin-left:-8.5em;}

#loggedincontent{margin-top:2.5em;margin-bottom:2.5em;}
#content{margin-top:3em;margin-bottom:3em;}

#doclightbox{display:none;background-color: white;width: 70%;height:75%;position:fixed;top:5em;left:15%;border:5px solid black;border-top:10px solid black;}
#closelightbox{font-size:1.2em;background-color:red;border-radius:50%;width:1.5em;height:1.5em;position:absolute;right:-1%;top:-4.2%;text-align: center;font-weight:bold;cursor:pointer;border:2px solid white;}
#doctitle{float:left;font-size:50px;color:black;font-weight: bold;margin-top:-65px;}

#docmenu{float:left;width:8%;height:80%;margin-top:5em;margin-left:1.2em;}

#doccatagorytitle{width:70%;height:10%;padding-top:1em;margin-left:6em;font-weight:bold;font-size:1.5em;text-decoration:underline;}

#doccontent{border-left:4px solid red;border-top:0px solid red;float:right;width:80%;height:80%;margin-right:2px;padding:1em;padding-top:0;overflow:auto;}